
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@import url(reset.css);

:root {
    --primarycolor: #131086;
    --secondarycolor: #b621f3;
  }
  

*{
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to Right, var(--primarycolor), var(--secondarycolor));
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
}

.login-card:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    border-radius: 10px;
}


.login-card-logo{
    margin-bottom: 1rem;
}

.login-card-logo img {
    width: 120px;
    animation: flipAndBounce 2s ease-in-out 1;
    margin-top: -30px;
}


.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;

}

.login-card a {
    text-decoration: none;
    color: #35339a;
}

.login-card a:hover {
    text-decoration: underline;
}

.login-card-header {
    margin-bottom: 2rem;
}


.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}


.login-card-header h1 + div {
    font-size: calc(1rem * .8);
    opacity: .8;
}


.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: 0.82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: 0.4;
}

.login-card-form .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}

.login-card input[type='text'],
.login-card input[type='password'],
.login-card input[type='email'] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-card input:focus {
    background: white;
}

.login-card input[type='checkbox'] {
    width: 16px;
    height: 16px;
    accent-color: black;
}


.login-card-form button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 0.5s;
}

.login-card-form button:hover {
    background-color: rgba(0, 0, 0, .75);
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.5s;
}


.login-card-social {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    margin-top: -50px;
}

.login-card-social > div{
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}

.login-card-social-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-card-social-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, .6);
    border-radius: 100px;
    transition: all 0.5s;
}

.login-card-social-btns a:hover {
    background: white;
    transform: scale(1.1);
}


@keyframes flipAndBounce {
    0% {
        transform: rotateY(0deg) translateY(0);
    }
    50% {
        transform: rotateY(360deg) translateY(-20px);
    }
    100% {
        transform: rotateY(0deg) translateY(0);
    }
}


@media (max-width: 586px) {
    body{
        padding: 2rem 0;
    }

    .login-card{
        width: 300px;
        padding: 2rem;
    }
}